<header class="px-4 pb-2">
  <nav class="navbar">
    <ul>
      <li>
        <.link navigate={~p"/"}>Home</.link>
      </li>
      <li>
        <.link navigate={~p"/user"}>User</.link>
      </li>
    </ul>
  </nav>
</header>

<main>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
