@import "../vendor/nes.css";

body {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: mintcream;
}

#flash {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 24pt;
}

.navbar ul {
  margin-left: -40px;
  display: flex;
}

.navbar li {
  list-style: none;
  margin-right: 1rem;
}

.games-table-wrapper h3 {
  margin-top: 2rem;
}

.games-table-wrapper .nes-table-responsive {
  height: 475px;
  overflow: scroll;
}

.games-table-wrapper table {
  border: 3px solid;
}

#games-table {
  background-color: violet;
}

#games-table td {
  color: #fff;
  /* font-size: 70%; */
  /* font-size: 8px; */
}

.games-table-wrapper thead {
  background-color:#108de0;
  /* background-color: #76c442; */
  color: #fff;
}

.game-controls {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.join-requests-table-wrapper {
  margin-bottom: 2rem;
}

.join-requests-table-wrapper table {
  border: 3px solid;
}

.join-requests-table-wrapper thead {
  background-color:#108de0;
  /* background-color: #76c442; */
  color: #fff;
}

#join-requests-table {
  background-color: violet;
  color: #fff;
}

.username-form {
  margin-bottom: 2rem;
  width: 300px;
}

.username-form button {
  margin-top: -0.5rem;
}

#chat-messages-wrapper {
  width: 600px;
  margin-bottom: 1rem;
}

#chat-messages {
  max-height: 7.5rem;
  overflow-y: scroll;
  list-style: none;
}

#game-canvas-wrapper {
  width: 600px;
  height: 600px;
  position: relative;
  background-color:forestgreen;
}

#game-turn {
  position: absolute;
  top: 5px;
  left: 10px;
  color: violet;
}

.player-data {
  position: absolute;
  font-size: 65%;
  color:gold;
}

.player-data.bottom {
  top: 98%;
  left: 30%;
  transform: translateX(-100%) translateY(-100%);
}

.player-data.top {
  top: 2%;
  left: 70%;
  transform: translateY(-25%);
}

.player-data.left {
  top: 10%;
  left: 2%;
  transform-origin: 0 100%;
  transform: translateY(-100%) rotate(90deg);
}

.player-data.right {
  top: 90%;
  left: 98%;
  transform-origin: 0 100%;
  transform: translateY(-100%) rotate(-90deg);
}

#game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -58%);
  font-size: 400%;
  white-space: nowrap;
  font-weight: bold;
  color: darkorchid;
  text-shadow: -2px 6px #fc0;
  animation: blink 1.5s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* .tourney-opts form {
  width: 300px;
} */