@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

#game-canvas-wrapper {
  width: 600px;
  height: 600px;
  position: relative;
  background-color: #2e8b57;
}

#game-turn {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 26px;
  color: violet;
}

.player-data {
  position: absolute;
  font-size: 20px; 
  color: #fc0;
}

.player-data.bottom {
  top: 98%;
  left: 30%;
  transform: translateX(-100%) translateY(-100%);
}

.player-data.top {
  top: 2%;
  left: 70%;
  transform: translateY(-25%);
}

.player-data.left {
  top: 10%;
  left: 2%;
  transform-origin: 0 100%;
  transform: translateY(-100%) rotate(90deg);
}

.player-data.right {
  top: 90%;
  left: 98%;
  transform-origin: 0 100%;
  transform: translateY(-100%) rotate(-90deg);
}

#game-over {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -58%);
  font-size: 700%;
  white-space: nowrap;
  font-weight: bold;
  color: darkorchid;
  text-shadow: -2px 6px #fc0;
  animation: blink 1.5s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}