<.flash_group flash={@flash} />

<h2 class="text-2xl font-bold">Golf</h2>

<p>
  Hello <%= @user.username %>(<%= @user.id %>)
</p>

<form action="/games" method="post">
  <input name="_csrf_token" type="hidden" value={get_csrf_token()} />
  <.button type="submit">Create Game</.button>
</form>
